*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: start;
  padding: 1rem;
  margin-bottom: 2rem;
}
body {
  font-family: "Tajawal", sans-serif;
  font-weight: bold;
  background-color: white;
}

.logo > img {
  width: 100%;
  display: block;
  object-fit: contain;
}

.logo {
  width: 8rem;
}

.banner {
  display: flex;
  /* margin: 0 4rem; */
  padding: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/Photo\ 05-09-2021\,\ 4\ 50\ 57\ PM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.banner > .left {
  flex: 0.4;
  color: white;
}

.banner > .right {
  flex: 0.6;
}
.banner > .right > img {
  width: 100%;
  display: none;
  object-fit: contain;
}

.left > * {
  margin-bottom: 1rem;
  /* text-shadow: 2px 2px 2px #582972; */
}
h2 {
  font-size: 5rem;
  font-weight: bold;
}
h4 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: bold;
}

p {
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 3rem;
  font-weight: bold;
}
.links {
  display: flex;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
video {
  width: 80%;
  border-radius: 6px;
  margin-top: 6rem;
  margin-bottom: 4rem;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #582972;
}
.btn {
  background-color: #582972;
  color: white;
  cursor: pointer;
  box-shadow: 0 0 6px 0 gray;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  font-weight: 500;
  font-size: 1.5rem;
  border-radius: 3px;
}
footer {
  background-color: #582972;
  margin-top: 2rem;
  display: flex;

  align-items: center;
  flex-direction: column;
  /* height: 75px; */
  padding: 1rem;
  padding-bottom: 0;
}
footer > p {
  font-size: 0.6rem;
  margin: 0;

  font-weight: bold;
}

.social_links {
  color: white;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}
.social_links > a {
  color: white;
  font-size: 1.6rem;
  transition: all 400ms ease;
}
.social_links > a:hover {
  font-size: 1.8rem;
}
@media only screen and (max-width: 600px) {
  header {
    margin: 0;
  }
  .banner {
    flex-direction: column-reverse;
    margin: 0;

    align-items: center;
  }
  .banner > * {
    flex: 1;
    width: 90%;
  }
  .btn {
    margin: 0 0.8rem;
    font-size: 0.8rem;
    width: 33%;
    padding: 0.5rem 0.6rem;
  }
  h4 {
    font-size: 2rem;
    font-weight: 800;
  }
  p {
    font-size: 1rem;
    line-height: 2.5rem;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .social_links {
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 601px) {
  h4 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}
